<!--Copyright 2015 PetaByteBoy

    This file is part of the Material Design Firmware Downloader.

    The Material Design Firmware Downloader is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    The Material Design Firmware Downloader is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with the Material Design Firmware Downloader.  If not, see <http://www.gnu.org/licenses/>. -->

<html ng-app="firmwareDownload" ng-controller="DownloadCtrl">
<head>
    <title>Freifunk Firmware Download</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="lib/leaflet.css">
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="lib/angular-material.min.css"/>
    <script src="lib/leaflet.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-animate.min.js"></script>
    <script src="lib/angular-aria.min.js"></script>
    <script src="lib/angular-material.min.js"></script>
    <script src="lib/angular-leaflet-directive.min.js"></script>
    <script src="config.js"></script>
    <script src="map.js"></script>
    <script src="app.js"></script>
</head>

<body class="main" layout-align="center center" layout="column">

<md-whiteframe class="md-whiteframe-z2" layout layout-align="center center">
    <div class="whiteframe-content">

        <img src="img/logo.png" class="md-card-image" alt="Logo Freifunk Dortmund">

        <h1 class="headline">Freifunk <a ng-show="config.name">{{config.name}}</a> Firmware</h1>

        <h2 class="headline" ng-show="config.version">Version {{config.version}} herunterladen</h2>
        
        <leaflet id="dommap" lf-center="dortmund" geojson="geojson" geojson-nested="true" height="420px" width="100%"></leaflet>

        <md-select ng-model="selectedMode" ng-show="config.modes">
            <md-option ng-repeat="(key, value) in config.modes" value="{{key}}">{{value}}</md-option>
        </md-select>

        <md-select placeholder="Bitte wähle einen Ort" ng-model="selectedSite" ng-show="config.sites">
            <md-option ng-repeat="(key, value) in config.sites" value="{{value | json}}">{{value.name}}</md-option>
        </md-select>

        <md-select placeholder="Hersteller" ng-model="selectedManufacturer" ng-change="selectedRouter = null;" ng-show="config.manufacturers">
            <md-option ng-repeat="(key, value) in config.manufacturers" value="{{value | json}}">{{value.name}}</md-option>
        </md-select>

        <md-select placeholder="Bitte wähle einen Router" ng-model="selectedRouter" ng-show="config.routers">
            <md-option ng-repeat="(key, value) in config.routers" ng-if="selectedManufacturer == null || value.manufacturer == parse(selectedManufacturer).name" value="{{value | json}}">{{selectedManufacturer == null ? value.manufacturer+' '+value.name : value.name}}</md-option>
        </md-select>

        <md-button class="md-raised md-primary" ng-href="{{ buildFirmwareUrl() }}" ng-disabled="!(selectedRouter)" target="_self">Download Firmware</md-button>

        <p class=license>Copyright 2015 PetaByteBoy | <a href="copying.html" target="_self">License</a></p>

    </div>
</md-whiteframe>

</body>

</html>
